<h3>Welcome to</h3>
<h1>Salon de Feu Pur</h1>

#if($stylists)
  <p>We have amazing stylists, who are artisans at their craft.</p>
  <ul>
    #foreach ($stylist in $stylists)
      <li><a href="/stylists/$stylist.getId()">$stylist.getArtist()</a></li>
    #end
  </ul>
#else
  <p>There are no stylists at the moment.</p>
#end

<a class="btn btn-success" href="/stylists/new">Add Stylist</a>

<a href="/clients"> See All Clients </a>
