<h2>Add a Stylist to the Team</h2>
<form action="/stylists" method="post">
  <div class ="form-group">
    <label for="artist">Name:</label>
    <input id="artist" class="form-control" name="artist" type="text">
    <label for="detail">Add any details:</label>
    <input id="detail" class="form-control" name="detail" type="text">
  </div>
    <button type="submit" class="btn">Submit</button>
</form>
