<h1>$stylist.getArtist()</h1>

<ul>
  #foreach($client in $stylist.getClients())
   <li>$client.getName()</li>
  #end
</ul>

<a href="/clients"> See All Clients </a>



<a href="/stylists/$stylist.getId()/clients/new" class="btn btn-success">Add Client</a>
<br>
<a href="/stylists">See All Stylists</a>
