<h1>$stylist.getArtist() 's clients:</h1>

<ul>
  #foreach($client in $Stylist.getClients())
   <li>$client.getName()</li>
  #end
</ul>

<a href="/stylists/$stylist.getId()/clients/new" class="btn btn-success">Add Client</a>
<br>
<a href="/stylists">See All Stylists</a>
